<div class="container mx-auto flex flex-col p-3">
  <div class="flex flex-row flex-wrap" id="quote-section">
    <div class="w-full sm:w-1/2 flex justify-center">
      <img alt="Evelyn Lahn" class="rounded shadow" height="306" ngSrc="assets/img/evi1.webp" priority width="338">
    </div>

    <div class="w-full mt-3 sm:mt-0 sm:w-1/2 flex">
      <p class="self-center text-center text-2xl font-thin italic" >&#8222;Bei mir sind Ihre Füße gut aufgehoben! In
        meiner
        Praxis gebe
        ich Tag für
        Tag alles,
        um
        Ihren
        Schmerzen
        Linderung zu verschaffen und Ihre Füße mit wohltuenden Behandlungen wieder fit zu machen. Wer seine Füße in
        meine
        Hände legt läuft wieder wie auf Federn!&#8221;</p>
    </div>
  </div>

  <div class="relative flex items-center w-full sm:w-1/2 mb-9 self-center mt-9">
    <div class="flex-grow border-t border-gray-300"></div>
    <span class="flex-shrink mx-4 text-gray-700 text-4xl" >Berufspraxis</span>
    <div class="flex-grow border-t border-gray-300"></div>
  </div>

  <ol id="berufspraxis">
    <li>
      <fa-icon [icon]="faHouse"></fa-icon>
      <span >April 2015 Praxiseröffnung in Wusterwitz</span>
    </li>
    <li>
      <fa-icon [icon]="faUserNurse"></fa-icon>
      <span >2013 - 2014 Podologin Potsdam</span>
    </li>
    <li>
      <fa-icon [icon]="faCar"></fa-icon>
      <span >2000 - 2013 Außendienst Medizinischen Bereich Schwerpunkte: Wundversorgung, Diabetes</span>
    </li>
    <li>
      <fa-icon [icon]="faUserNurse"></fa-icon>
      <span >1987 - 2000 Krankenschwester</span>
    </li>
    <li>
      <span class="font-semibold text-lg" >Berufsausbildung</span>
    </li>
    <li>
      <fa-icon [icon]="faGraduationCap"></fa-icon>
      <span >2009 - 2012 staatl. geprüfte Podologin</span>
    </li>
    <li>
      <fa-icon [icon]="faGraduationCap"></fa-icon>
      <span >1984 - 1987 examinierte Krankenschwester</span>
    </li>
    <li>
      <span class="font-semibold text-lg" >Spezialisierungen</span>
    </li>
    <li>
      <fa-icon [icon]="faGraduationCap"></fa-icon>
      <span >2008 Diabetesassistentin</span>
    </li>
    <li>
      <fa-icon [icon]="faGraduationCap"></fa-icon>
      <span >2005 Wundmentor</span>
    </li>
  </ol>
</div>
