<div class="container mx-auto flex flex-col p-3 items-center">
  <h1 class="mt-0 text-3xl text-center" >Was ist Podo-Taping?</h1>

  <!-- Img + Description -->
  <div class="flex flex-row flex-wrap w-full sm:mt-5">
    <div class="flex sm:w-1/3 w-full mt-3 justify-center">
      <img alt="Podologie Eingangsbereich" class="rounded-sm shadow-sm" height="247" ngSrc="assets/img/praxis2.webp"
           priority
           width="291">
    </div>
    <div class="flex flex-col sm:w-2/3 w-full self-center items-center">
      <h1 class="sm:mt-0 mt-4 sm:text-left text-center" >Spezielle Fußhautbehandlungen</h1>
      <p class="mb-2 text-center" >Zur Beschwerdelinderung erfreut sich das Taping einer immer größeren
        Beliebtheit und
        wird in der
        Podologie und Fußpflege immer häufiger eingesetzt. Ich habe mich für Sie in diesem Bereich weitergebildet und
        freue mich Ihnen diese Leistung in meiner Praxis
        anbieten zu können.</p>
    </div>
  </div>

  <h1 class="text-center sm:mt-16" >5 Wirkeigenschaften</h1>

  <div class="flex flex-row flex-wrap sm:mt-16">

    <!-- Schmerzreduzierung -->
    <div class="w-full sm:w-1/5 text-center">
      <fa-icon [icon]="faStar" class="text-lime-500" size="4x"></fa-icon>
      <p class="my-3 text-lg" >Schmerzreduzierung</p>
    </div>

    <!-- Stützfunktion -->
    <div class="w-full sm:w-1/5 text-center mt-10 sm:mt-0">
      <fa-icon [icon]="faStar" class="text-lime-500" size="4x"></fa-icon>
      <p class="my-3 text-lg" >Stützfunktion und Stabilisierung von Gelenken</p>
    </div>

    <!-- Korrektur -->
    <div class="w-full sm:w-1/5 text-center mt-10 sm:mt-0">
      <fa-icon [icon]="faStar" class="text-lime-500" size="4x"></fa-icon>
      <p class="my-3 text-lg" >Korrektur (z.B. Hallux valgus, Hammerzehen, Knickfuß)</p>
    </div>

    <!-- Aktivierung -->
    <div class="w-full sm:w-1/5 text-center mt-10 sm:mt-0">
      <fa-icon [icon]="faStar" class="text-lime-500" size="4x"></fa-icon>
      <p class="my-3 text-lg" >Aktivierung der Nerven bei Polyneuropathie</p>
    </div>

    <!-- Massage -->
    <div class="w-full sm:w-1/5 text-center mt-10 sm:mt-0">
      <fa-icon [icon]="faStar" class="text-lime-500" size="4x"></fa-icon>
      <p class="my-3 text-lg" >Mikro-Massage der Haut (Verbesserung der Durchblutung und des Lymphflusses)</p>
    </div>
  </div>

</div>
