<div class="container mx-auto p-3 mb-3">
  <!-- Title -->
  <h1 class="first-headline" >Allgemeine Geschäftsbedingungen</h1>

  <!-- §1 -->
  <h2 >§1 Allgemeines</h2>
  <ul class="list-disc list-inside space-y-2">
    <li >Für alle Rechtsgeschäfte mit Kunden gelten ausschließlich unsere Allgemeinen Geschäftsbedingungen.</li>
    <li >Die AGB werden mit Auftragserteilung anerkannt und finden Geltung.</li>
    <li >Alle Änderungen und Abweichungen bedürfen der Schriftform.</li>
    <li >Andere allgemeine Geschäftsbedingungen finden keine Anwendung.</li>
    <li >Die Podologie – Lahn behält sich Änderungen der allgemeinen Geschäftsbedingungen vor.</li>
    <li >Es gelten die jeweiligen aktuellen Preislisten.</li>
    <li >Maßgeblich ist die zum Zeitpunkt des Vertragsabschlusses gültige Fassung.</li>
  </ul>


  <!-- §2 -->
  <h2 >§2 Terminvereinbarungen, Terminverschiebungen/-absagen und
    Stornobedingungen</h2>
  <p class="mb-4" >Terminvereinbarungen können per E-Mail oder Telefon vorgenommen werden. Terminwünsche per
    E-Mail
    gelten erst als bestätigt, wenn die Podologie – Lahn eine Bestätigungsemail versandt hat. Ein verspätetes
    Erscheinen zum vereinbarten Termin kann unter Umständen auch im Interesse der nachfolgenden Kunden von der
    Behandlungszeit abgezogen werden. Für eine vom Kunden gewünschte Kürzung der Behandlung während des Termins ist
    der volle Behandlungspreis gemäß Buchung zu zahlen.</p>
  <p class="mb-4" >Termine, die nicht eingehalten werden können, müssen mindestens 24 Stunden vorher abgesagt
    werden.
    Absagen und Verschiebungen die per E-Mail vorgenommen werden, müssen mindestens 36 Stunden vorher mitgeteilt
    werden. Eine Beantwortung per Mail ist nur zu den Öffnungszeiten möglich. Zum Einlösen eines Gutscheines muss eine
    Terminvereinbarung erfolgen und der Gutschein muss zum Termin mitgebracht werden. Bei Nichterscheinen ohne Absage
    gilt der Gutschein als eingelöst und verliert seine Gültigkeit. Bei Nichteinhaltung des vereinbarten Termins und /
    oder nicht erfolgter gültiger Absage wird eine Stornopauschale in Höhe von 100% des Behandlungspreises fällig.</p>


  <!-- §3 -->
  <h2 >§3 Datenschutz</h2>
  <p class="mb-4" >Die Podologie – Lahn nimmt den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre
    personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften. Die an uns
    übermittelten Daten wie Namen, Adresse, Telefonnummer oder E-Mail Adressen (Personenbezogene Daten) verwenden wir
    ausschließlich zum Zwecke der Bearbeitung Ihrer Anfrage oder der Abwicklung. Es erfolgt keine Datenweiterleitung
    an unberechtigte Dritte.</p>


  <!-- §4 -->
  <h2 >§4 Haftungsausschluss</h2>
  <p class="mb-4" >Die Podologie – Lahn übernimmt keine Haftung, wenn der Kunde durch eine Dienstleistung zu Schaden
    kommt, die auf dem Kunden gelieferten Informationen beruht und sich diese als unzureichend oder falsch
    herausstellen. Dies bezieht sich vor allen Dingen, aber nicht ausschließlich, auf Physische Bedingungen,
    medizinisches oder medikamentöse Voraussetzungen oder Aktivitäten außerhalb der Praxis. Die Podologie – Lahn ist
    nicht verantwortlich für den Verlust oder Zerstörung von Gegenständen, die vom Kunden mit in die Praxis gebracht
    werden.</p>

  <!-- §5 -->
  <h2 >§5 Anwendbares Recht/Gerichtsstand</h2>
  <p >Alle Streitigkeiten aus diesem Rechtsverhältnis unterliegen ausschließlich dem Recht der
    Bundesrepublik Deutschland, unter Ausschluss der Geltung von UN-Kaufrecht, auch wenn der Besteller seinen
    Firmensitz im Ausland hat. Erfüllungsort ist der Geschäftssitz der Podologie – Lahn. Der Gerichtsstand für alle
    sich aus dem Vertragsverhältnis ergebenden Streitigkeiten ist ausschließlich Brandenburg.</p>
</div>
