<div class="container mx-auto p-3 mb-3">
  <!-- Impressum Header -->
  <h1 class="first-headline" >Impressum</h1>

  <!-- Angaben gemäß § 5 TMG -->
  <h2 >Angaben gemäß § 5 TMG</h2>
  <p>Evelyn Lahn</p>
  <p>Podologie</p>
  <p>Bahnhofstrasse 12</p>
  <p>14789 Wusterwitz</p>

  <!-- Kontakt -->
  <h2 >Kontakt</h2>
  <p >Telefon: 033839 329063</p>
  <p >Telefax: 033839 329065</p>
  <p >E-Mail: <a aria-label="Mail an kontakt@podologie-lahn.de" href="mailto:kontakt@podologie-lahn.de">kontakt&#64;podologie-lahn.de</a>
  </p>

  <!-- Ersteller der Website -->
  <h2 >Ersteller der Website</h2>
  <p>Johannes Bauer - <a aria-label="Website von Johannes Bauer johannes-bauer.de" href="https://johannes-bauer.de/"
                         target="_blank">johannes-bauer.de</a>
  </p>

  <!-- Aufsichtsbehörde -->
  <h2 >Aufsichtsbehörde</h2>
  <p>KV Brandenburg</p>
  <p>Pappelallee 5, 14469 Potsdam</p>
  <p><a aria-label="Link zur KVBB Aufsichtsbehörde www.kvbb.de" href="https://www.kvbb.de/"
        target="_blank">www.kvbb.de</a></p>

  <!-- Berufsbezeichnung und berufsrechtliche Regelungen -->
  <h2 >Berufsbezeichnung und berufsrechtliche Regelungen</h2>
  <p >Berufsbezeichnung: Podologin</p>


  <!-- Angaben zur Berufshaftpflichtversicherung -->
  <h2 >Angaben zur Berufshaftpflichtversicherung</h2>
  <p >Name und Sitz des Versicherers:</p>
  <p>BGW Hauptverwaltung</p>
  <p>Postfach 760224</p>
  <p>22052 Hamburg</p>
  <p >Geltungsraum der Versicherung: Deutschland</p>

  <!-- Streitschlichtung -->
  <h2 >Streitschlichtung</h2>
  <p >Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:</p>
  <p><a aria-label="Link zur europäischen Komission https://ec.europa.eu/consumers/odr"
        href="https://ec.europa.eu/consumers/odr"
        target="_blank">https://ec.europa.eu/consumers/odr</a>
  </p>
  <p >Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>
  <p >Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
    teilzunehmen.</p>
</div>
